<div class="mb-8">
    <%= render 'form' %>
</div>

<%= turbo_frame_tag "tweets", class: "divide-y" do %>
    <%= render @tweets %>
<% end %>

<%= turbo_frame_tag Tweet.new do%>
    <% if @tweets.none? %>
        <%= render "empty" %>
    <% end %>

<% end %>